.site-header {
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;

  .blinking_cursor {
    animation: blinker 1s none infinite;
    font-size: $base-font-size * 1.25;
  }

  .command_prompt {
    color: $color-blue;
    font-size: $base-font-size;
    margin-left: 0.1em;

    &:before {
      content: $icon-chevron-right;
      @include font-awesome-icon;
      margin-right: 0.2em;
    }
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited,
  &:hover {
    @include themed() {
      color: t('foreground-color');
    }

    text-decoration: none;
  }
}

.site-footer {
  margin-bottom: 2em
}

.wrapper {
  text-align: justify;
}

/**
 * Right-to-Left support
 */

html.direction--rtl {
  .icon-box {
    text-align: right;

    &>.description {
      direction: rtl;
    }

    &>img {
      margin-right: 0em;
      margin-left: 1em;
    }
  }

  ol>li,
  ul>li {
    text-align: right;
    direction: rtl;

    &::before {
      float: right;
      margin-left: 0.5em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    direction: rtl;
    text-align: right;
  }

  .post-link-wrapper {
    direction: rtl;
  }

  .post {
    direction: rtl;
  }

  .pagination {
    text-align: right;
  }

  .tag-cloud {
    direction: rtl;
    text-align: right;
  }

  .related-posts {
    direction: rtl;
    text-align: right;

    &>li::before {
      margin-right: 0;
      margin-left: 0.5em;
    }
  }

  pre {
    direction: ltr;
    text-align: left;
  }
}

.bg .solidity {
  color: #f8f8f2;
  background-color: #272822;
}

.chroma .solidity {
  color: #f8f8f2;
  background-color: #272822;
}

.chroma .solidity .err {
  color: #960050;
  background-color: #1e0010
}

.chroma .solidity .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit
}

.chroma .solidity .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .solidity .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .solidity .hl {
  background-color: #3c3d38
}

.chroma .solidity .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

.chroma .solidity .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

// SOLIDITY CONFIG

.chroma .solidity .line {
  display: flex;
}

.chroma .solidity .k {
  color: #66d9ef
}

.chroma .solidity .kc {
  color: #66d9ef
}

.chroma .solidity .kd {
  color: #66d9ef
}

.chroma .solidity .kn {
  color: #f92672
}

.chroma .solidity .kp {
  color: #66d9ef
}

.chroma .solidity .kr {
  color: #66d9ef
}

.chroma .solidity .kt {
  color: #66d9ef
}

.chroma .solidity .nb {
  color: #66d9ef
}

.chroma .solidity .na {
  color: #a6e22e
}

.chroma .solidity .nc {
  color: #a6e22e
}

.chroma .solidity .no {
  color: #66d9ef
}

.chroma .solidity .nd {
  color: #a6e22e
}

.chroma .solidity .ne {
  color: #a6e22e
}

.chroma .solidity .nf {
  color: #a6e22e
}

.chroma .solidity .nx {
  color: #a6e22e
}

.chroma .solidity .nt {
  color: #f92672
}

.chroma .solidity .l {
  color: #ae81ff
}

.chroma .solidity .ld {
  color: #e6db74
}

.chroma .solidity .s {
  color: #e6db74
}

.chroma .solidity .sa {
  color: #e6db74
}

.chroma .solidity .sb {
  color: #e6db74
}

.chroma .solidity .sc {
  color: #e6db74
}

.chroma .solidity .dl {
  color: #e6db74
}

.chroma .solidity .sd {
  color: #e6db74
}

.chroma .solidity .s2 {
  color: #e6db74
}

.chroma .solidity .se {
  color: #ae81ff
}

.chroma .solidity .sh {
  color: #e6db74
}

.chroma .solidity .si {
  color: #e6db74
}

.chroma .solidity .sx {
  color: #e6db74
}

.chroma .solidity .sr {
  color: #e6db74
}

.chroma .solidity .s1 {
  color: #e6db74
}

.chroma .solidity .ss {
  color: #e6db74
}

.chroma .solidity .m {
  color: #ae81ff
}

.chroma .solidity .mb {
  color: #ae81ff
}

.chroma .solidity .mf {
  color: #ae81ff
}

.chroma .solidity .mh {
  color: #ae81ff
}

.chroma .solidity .mi {
  color: #ae81ff
}

.chroma .solidity .il {
  color: #ae81ff
}

.chroma .solidity .mo {
  color: #ae81ff
}

.chroma .solidity .o {
  color: #f92672
}

.chroma .solidity .ow {
  color: #f92672
}

.chroma .solidity .c {
  color: #75715e
}

.chroma .solidity .ch {
  color: #75715e
}

.chroma .solidity .cm {
  color: #75715e
}

.chroma .solidity .c1 {
  color: #75715e
}

.chroma .solidity .cs {
  color: #75715e
}

.chroma .solidity .cp {
  color: #75715e
}

.chroma .solidity .cpf {
  color: #75715e
}

.chroma .solidity .gd {
  color: #f92672
}

.chroma .solidity .ge {
  font-style: italic
}

.chroma .solidity .gi {
  color: #a6e22e
}

.chroma .solidity .gs {
  font-weight: bold
}

.chroma .solidity .gu {
  color: #75715e
}

// SOLIDITY CONFIG

.spoiler-container {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.spoiler-text {
  color: transparent;
  background-color: black;
  padding: 5px;
  border: 1px solid #ccc;
  transition: color 0.3s ease;
  cursor: pointer;
}

.spoiler-container:hover .spoiler-text {
  color: white;
  background-color: black;
}

.icon-box {
  margin-bottom: 1em;
  margin-right: 0.8em;
  text-align: left;
  min-height: 72px;
  font-style: italic;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &>.description {
    flex: 8;
  }

  &>.icon {
    margin-right: 0;
    margin-bottom: 0.35em;
    width: 96px;
    height: 100%;
    border-radius: 0.3em;
    flex: 1;
  }

  &>.icon:hover {
    filter: brightness(50%)
  }

  .icon-label {
    font-style: normal;
    font-weight: 600;
    text-align: center;
  }
}

.site-header {
  margin-bottom: 1em;
}


.post-title {
  @include themed() {
    color: t('foreground-color');
  }

  text-align: left;
}

.post-description {
  margin-top: 1em;
  font-size: $base-font-size * 1.15;

  @include themed() {
    color: t('foreground-color');
  }

  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;
  margin-left: 0.5em;

  &:after {
    content: "_";
    animation: blinker 1s none infinite;
    font-size: 16px;
  }

  &:before {
    content: $icon-chevron-right;
    @include font-awesome-icon;
    margin-right: 0.5em;
    color: $color-blue;
  }
}

.post {
  margin-bottom: 2em;

  .post-date {
    margin-top: 1em;

    @include themed() {
      color: t('foreground-color-alt');
    }

    font-size: 12px;
    margin-top: 1em;
    margin-left: 0.5em;
  }

  strong {
    @include themed() {
      color: t('foreground-color-contrast');
    }
  }

  img {
    border-radius: 0.3em;
    width: 100%;
  }

  ol>li {
    margin-left: 1em;
    text-align: left;
    margin-bottom: 0.6em;
  }

  ul>li {
    text-align: left;
    margin-bottom: 0.6em;

    @include themed() {
      color: t('list-primary');
    }

    list-style: none;
    margin-left: 0;

    &:before {
      content: $icon-list-dot;
      @include font-awesome-icon;
      margin-right: 0.5em;
    }
  }

  ul,
  ol {
    padding: 0;
    margin-left: 0.5em;
  }



  &>blockquote {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-style: italic;

    @include themed() {
      color: t('quote-primary');
    }

    &>p {
      display: inline-block;
      padding-left: 3em;
    }

    &:before {
      content: $icon-quote-right;
      @include font-awesome-icon;
      margin-right: -2em;
      float: left;

      font-size: 2em;
    }

    &>ul {
      margin-left: 3em;
    }

    li {
      @include themed() {
        color: t('quote-secondary');
      }

      &:before {
        content: $icon-minus;
      }
    }
  }
}

.post-link-wrapper {
  margin-bottom: 1.1em;

  &>.post-link {
    font-size: $base-font-size;
    font-size: $post-link-font-size;
    display: inline-block;
    text-align: initial;
  }

  &>.post-meta {
    @include themed() {
      color: t('foreground-color-alt');
    }

    font-size: $small-font-size;
  }
}

.tag-cloud {
  margin-bottom: 2em;
  text-align: left;

  &>a {
    display: inline-block;
    margin: 0.3em 0.3em 0.3em 0;
  }
}

.tag,
.tag-cloud>a {
  color: $color-green;

  @include themed() {
    background-color: t('background-color');
  }

  padding: 0.3em 0.6em;
  border-radius: 0.3em;

  &:hover {
    text-decoration: none;
    color: lighten($color-green, 20%) !important;

    @include themed() {
      background-color: lighten(t('background-color'), 5%);
    }
  }

  &:before {
    content: $icon-tag;
    @include font-awesome-icon;
    margin-right: 0.5em;
  }
}

.tag {
  display: inline-block;
  margin: 0.3em 0.3em 0.3em 0;
}

.post-tags {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  text-align: initial;
}

.credits {
  font-size: 10px;

  @include themed() {
    color: lighten(t('background-color'), 5%);
  }

  &>a {
    @include themed() {
      color: lighten(t('background-color'), 10%);
    }

    text-decoration: underline;
  }
}

.pagination {
  font-size: $post-link-font-size;
  margin: 1em 0;

  &>a,
  &>span {
    font-weight: normal;
    display: inline-block;
    min-width: 1em;

    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

  &>a {
    color: $color-green;

    @include themed() {
      background-color: t('background-color');
    }

    &:hover {
      color: lighten($color-green, 20%);

      @include themed() {
        background-color: lighten(t('background-color'), 5%);
      }
    }
  }

  &>span {
    @include themed() {
      color: darken(t('foreground-color'), 20%);
      background-color: darken(t('background-color'), 3%);
    }
  }
}

.social_links {
  float: right;
  text-align: right;
  display: inline-block;

  &>a {
    @include themed() {
      color: darken(t('foreground-color'), 10%);
    }

    display: inline-block;
    padding-left: 0.3em;
    font-size: $post-link-font-size * 1.35;
  }
}

ul.related-posts {

  margin: 0;
  margin-left: 1em;
  padding: 0;

  &>li {
    list-style: none;
    margin-left: 0;

    a {
      display: inline-block;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    h3 {
      display: inline-block;
      margin: 0;
    }

    &:before {
      content: $icon-flask;
      @include font-awesome-icon;
      color: $color-green;
      margin-right: 0.5em;
    }
  }
}

#theme-toggle {
  background-color: transparent;
  border: none;
  float: right;
  display: inline-block;

  &.dark {
    &:before {
      content: $icon-flask;
      @include font-awesome-icon;
    }

    @include themed() {
      color: t('foreground-color');
    }
  }

  &.light {
    &:before {
      content: $icon-flask;
      @include font-awesome-icon;
    }

    color: $color-yellow;
  }
}

.modal {
  cursor: pointer;
}