<!DOCTYPE html>
<html class="{% if site.dash.rtl %}direction--rtl{% else %}direction--ltr{% endif %}"
  lang="{{ page.lang | default: site.lang | default: 'en' }}">
{%- include head.html -%}

<body>
  <div style="height: 100%; display: flex; flex-direction: column;">
    {%- include header.html -%}
    <main style="flex: 1; display: flex; align-items: center; justify-content: center;" class="page-content"
      aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </div>
  {%- include footer.html -%}
  <script>
    window.FontAwesomeConfig = {
      searchPseudoElements: true
    }
  </script>
</body>

</html>