<!DOCTYPE html>
<html class="{% if site.dash.rtl %}direction--rtl{% else %}direction--ltr{% endif %}"
  lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}

<body>
  <div>
    {%- include header.html -%}
    <main style=" height: 100%; margin: 0; display: flex; align-items: center; justify-content: center;"
      class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </div>
  <script>
    window.FontAwesomeConfig = {
      searchPseudoElements: true
    }
  </script>
</body>

</html>